<!DOCTYPE html>
<html lang="ru-RU">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>НМИЦ Онкологии</title>
  <link rel="icon" href="/static/cropped-favicon-32x32.png" sizes="32x32">
  <style>
    body {
      font-family: "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
      background-color: #ffffff;
      color: #333333;
    }
    h2.page_header {
      color: #6d90c8;
    }
    h4.select_header {
      color: #e53f31;
    }
    button {
      margin: 5px;
    }
  </style>
</head>
<body>
  <!--логотип-->
  <table border="0">
  <tr>
    <td><img src="/static/logo.png" alt="logo" width="181" height="75"></td>
    <td style="padding-left:50px;">
    <h2 class="page_header">НИИ клинической онкологии им. Н.Н. Трапезникова</h2></td>
  </tr>
  </table>
  <hr>
  <!--дерево выбора-->
  <table border="0" style="margin-left:30px;"><tr><td>
    <h3>Рак Легкого&nbsp;/&nbsp;III стадия&nbsp;/&nbsp;Немелкоклеточный&nbsp;/&nbsp;Неоперабельный</h3>
    <h4><a href="page2100">Химиолучевая терапия</a>&nbsp;/&nbsp;<a href="page2101">Иммунотерапия</a></h4>
  </td></tr></table>
  <hr>
  <!--поля страницы для олтображения результатов-->
  <table border="0" style="margin-left:30px;"><tr><td>